<main class="main" id="main">
    <section>
        <h1 class="text-center">Edit Product</h1><br><br>

        <div class="container">
            <form action="/admin/edit/{{product._id}}" enctype="multipart/form-data" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">Brand Name</label>
                    <input type="text" class="form-control" name="Name" id="exampleInputName"
                        aria-describedby="NameHelp" placeholder="Name" value="{{product.Name}}">
                </div><br>
                <div class="form-group">
                    <label for="exampleInputPrice">Stock</label>
                    <input type="number" class="form-control" name="Stock" id="exampleInputStock" placeholder="Stock"
                        value="{{product.Stock}}">
                </div><br>
                <div class="form-group">
                    <label for="exampleInputPrice">Price</label>
                    <input type="number" class="form-control" name="Price" id="exampleInputPrice" placeholder="Price"
                        value="{{product.Price}}">
                </div><br>
                <div>
                    <label for="floatingSelect">Category</label>
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
                        name="addCategory">
                        <option value={{product.addCategory}}>{{product.addCategory}} </option>
                        {{#each category}}
                        <option value={{this.CategoryName}}>{{this.CategoryName}} </option>
                        {{/each}}
                    </select>
                    <br>
                </div>
                <div class="form-group">
                    <label for="">Description</label>
                    <input type="text" class="form-control" name="Description" id="exampleInputDescription"
                        aria-describedby="DescriptionHelp" placeholder="Description" value="{{product.Description}}">
                </div><br>

                <div class="form-group">
                    <label for="">Image</label>

                    <img src="/productMulterImage/{{product.img.[0]}}" alt="Product image" srcset=""
                        style="width:100px; heighgt:100px;" class="product-image img-sm img-thumbnail " id="viewImage">
                    <img src="/productMulterImage/{{product.img.[1]}}" alt="Product image" srcset=""
                        style="width:100px; heighgt:100px;" class="product-image img-sm img-thumbnail " id="viewImage">
                    <img src="/productMulterImage/{{product.img.[2]}}" alt="Product image" srcset=""
                        style="width:100px; heighgt:100px;" class="product-image img-sm img-thumbnail " id="viewImage">
                    <img src="/productMulterImage/{{product.img.[3]}}" alt="Product image" srcset=""
                        style="width:100px; heighgt:100px;" class="product-image img-sm img-thumbnail " id="viewImage">

                    <input type="file" class="form-control" name="Image" id="exampleInputfile" multiple="multiple"
                        aria-describedby="fileHelp" placeholder="" onchange="imageView(event)">
                </div><br>

                <button onclick="hello()" type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </section>
</main>




<script>
    function imageView(event) {
        document.getElementById('imageView').src = URL.createObjectURL(event.target.files[0])
    }
</script>
<script>
    function hello() {
        Swal.fire(
            'Product edited',
            'God job',
            'success'
        ).then(() => {

        })
    }
</script>