<main class="main" id="main">
  <section>


    <div class="container ">


      <div class="card-body">
        <h1 class="text-center">Product Detils</h1>
        <div class="row-2 col-md-2">
          <a href="/admin/addProduct" class="btn btn-success btn-sm">Add Products</a>
        </div>
        <table class="table table-borderless datatable">

          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">Brand Name</th>
              <th scope="col">Price</th>
              <th scope="col">Olde Price</th>
              <th scope="col">Stock</th>
              <th scope="col">Category</th>
              <th scope="col">Image</th>
              <th scope="col">Updates</th>

            </tr>
          </thead>
          <tbody>
            {{#each products}}
            <tr>
              <th scope="row">{{incremented @index}}</th>
              <td>{{this.Name}}</td>
              <td>{{this.Price}}</td>
              <td>{{this.OldPrice}}</td>
              <td>{{this.Stock}}</td>
              <td>{{this.addCategory}}</td>
              <td><img src="/productMulterImage/{{this.img.[0]}}" alt="" srcset="" width="50px" width="50px"></td>
              <td>
                <a href="/admin/delete/{{this._id}}" class="btn btn-success" onclick="hello()')">Delete</a>
                <a href="/admin/edit/{{this._id}}" class="btn btn-danger" onclick="hi()">Edit</a>
              </td>
            </tr>
            {{/each}}


          </tbody>
        </table>

      </div>

      

    </div>
  </section>
</main>



 