<main class="main">
    <div class="page-header text-center" style="background-image: url('/userassets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Cycles<span>Mens Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">List</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="toolbox">
                        <div class="toolbox-left">
                            <div class="toolbox-info">
                                Showing <span>9 of 56</span> Products
                            </div><!-- End .toolbox-info -->
                        </div><!-- End .toolbox-left -->

                        <div class="toolbox-right">
                            <div class="toolbox-sort">
                                <label for="sortby">Sort by:</label>
                                <div class="select-custom">
                                    <select name="sortby" id="sortby" class="form-control">
                                        <option value="popularity" selected="selected">Most Popular</option>
                                        <option value="rating">Most Rated</option>
                                        <option value="date">Date</option>
                                    </select>
                                </div>
                            </div><!-- End .toolbox-sort -->
                            <div class="toolbox-layout">
                                <a href="category-list.html" class="btn-layout active">
                                    <svg width="16" height="10">
                                        <rect x="0" y="0" width="4" height="4" />
                                        <rect x="6" y="0" width="10" height="4" />
                                        <rect x="0" y="6" width="4" height="4" />
                                        <rect x="6" y="6" width="10" height="4" />
                                    </svg>
                                </a>

                                <a href="category-2cols.html" class="btn-layout">
                                    <svg width="10" height="10">
                                        <rect x="0" y="0" width="4" height="4" />
                                        <rect x="6" y="0" width="4" height="4" />
                                        <rect x="0" y="6" width="4" height="4" />
                                        <rect x="6" y="6" width="4" height="4" />
                                    </svg>
                                </a>

                                <a href="category.html" class="btn-layout">
                                    <svg width="16" height="10">
                                        <rect x="0" y="0" width="4" height="4" />
                                        <rect x="6" y="0" width="4" height="4" />
                                        <rect x="12" y="0" width="4" height="4" />
                                        <rect x="0" y="6" width="4" height="4" />
                                        <rect x="6" y="6" width="4" height="4" />
                                        <rect x="12" y="6" width="4" height="4" />
                                    </svg>
                                </a>

                                <a href="category-4cols.html" class="btn-layout">
                                    <svg width="22" height="10">
                                        <rect x="0" y="0" width="4" height="4" />
                                        <rect x="6" y="0" width="4" height="4" />
                                        <rect x="12" y="0" width="4" height="4" />
                                        <rect x="18" y="0" width="4" height="4" />
                                        <rect x="0" y="6" width="4" height="4" />
                                        <rect x="6" y="6" width="4" height="4" />
                                        <rect x="12" y="6" width="4" height="4" />
                                        <rect x="18" y="6" width="4" height="4" />
                                    </svg>
                                </a>
                            </div><!-- End .toolbox-layout -->
                        </div><!-- End .toolbox-right -->
                    </div><!-- End .toolbox -->













                    <div class="products mb-3">
                        {{#each mens}}
                        <div class="product product-list">
                            <div class="row">
                                <div class="col-6 col-lg-3">
                                    <figure class="product-media">
                                        {{#if productOffer}}
                                        <span class="product-label label-sale">{{this.productOffer}}% off</span>
                                        {{else}}

                                        {{/if}}
                                        <a href="/product/{{this._id}}">
                                            <img src="/productMulterImage/{{this.img.[0]}}" alt="Product image"
                                                class="product-image">
                                        </a>
                                    </figure><!-- End .product-media -->
                                </div><!-- End .col-sm-6 col-lg-3 -->

                                <div class="col-6 col-lg-3 order-lg-last">

                                    <div class="product-list-action">

                                        <div class="product-price">

                                            <div>
                                                {{#if productOffer}}
                                                <span><strike class="text-danger">Price
                                                        ₹:{{this.OldPrice}}</strike></span>
                                                <br>
                                                <span class="text-success">Offer ₹:{{this.Price}}</span>
                                                {{else}}
                                                <span class="text-danger">Price ₹:{{this.Price}}</span>
                                                {{/if}}
                                            </div>

                                        </div><!-- End .product-price -->
                                        <div class="ratings-container">
                                            <div class="ratings">

                                                <div class="ratings-val" style="width: 20%;"></div>
                                                <!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                            <span class="ratings-text">( 2 Reviews )</span>
                                        </div><!-- End .rating-container -->

                                        <div class="product-action">
                                            {{#if this.Stock}}
                                            <a href="#" class="btn-product btn-cart"
                                                onclick="addToCart('{{this._id}}','{{this.Price}}')"><span>add to
                                                    cart</span></a>
                                            {{else}}
                                            {{/if}}
                                        </div><!-- End .product-action -->


                                    </div><!-- End .product-list-action -->
                                </div><!-- End .col-sm-6 col-lg-3 -->

                                <div class="col-lg-6">
                                    <div class="product-body product-action-inner">
                                        <a href="#" class="btn-product-icon btn-wishlist"
                                            onclick="addToWishList('{{this._id}}')"><span>add to wishlist</span></a>
                                        <div class="product-cat">
                                            <a href="#">{{this.Name}}</a>
                                        </div><!-- End .product-cat -->

                                        <!-- End .product-title -->

                                        <div class="product-content">
                                            <p>{{this.Description}}</p>
                                        </div><!-- End .product-content -->

                                        {{#if this.Stock}}
                                        <p class=" text-success">Stock In</p>
                                        {{else}}
                                        <p class=" text-danger">Out Of Stock</p>
                                        {{/if}}

                                        <div class="product-nav product-nav-thumbs">
                                            <a href="#" class="active">
                                                <img src="/productMulterImage/{{this.img.[0]}}" alt="product desc">
                                            </a>
                                            <a href="#">
                                                <img src="/productMulterImage/{{this.img.[0]}}" alt="product desc">
                                            </a>

                                            <a href="#">
                                                <img src="/productMulterImage/{{this.img.[0]}}" alt="product desc">
                                            </a>
                                        </div><!-- End .product-nav -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .col-lg-6 -->
                            </div><!-- End .row -->
                        </div><!-- End .product -->
                        {{/each}}

                    </div><!-- End .products -->
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link page-link-prev" href="#" aria-label="Previous" tabindex="-1"
                                    aria-disabled="true">
                                    <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                                </a>
                            </li>
                            {{#for 0 page.pages 1}}
                            <li class="page-item active" aria-current="page"><a class="page-link"
                                    href="/productsList/{{../category1}}?page={{inc this}}">{{ inc this}}</a></li>
                            {{/for}}
                            <li class="page-item-total">of 6</li>
                            <li class="page-item">
                                <a class="page-link page-link-next" href="#" aria-label="Next">
                                    Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link page-link-prev" href="#" aria-label="Previous" tabindex="-1"
                                    aria-disabled="true">
                                    <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                                </a>
                            </li>
                            <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item-total">of 6</li>
                            <li class="page-item">
                                <a class="page-link page-link-next" href="#" aria-label="Next">
                                    Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div><!-- End .col-lg-9 -->

            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main><!-- End .main -->








<script>
    function addToCart(productId) {
        $.ajax({
            url: '/addToCart/' + productId,
            method: 'get',
            success: (response) => {
                if (response.status) {

                    let count = $('#cartCount').html()
                    count = parseInt(count) +
                        $("#cartCount").html(count)

                    swal({
                        title: "Good job!",
                        text: "You clicked the button!",
                        icon: "success",
                    }).then(() => {
                        location.reload()
                    })
                }

            }

        })
    }
</script>

<script>
    function addToWishList(productId) {
        $.ajax({
            url: '/addToWishList/' + productId,
            method: 'get',
            success: (response) => {
                if (response.status) {

                    // let count = $('#cartCount').html()
                    //count = parseInt(count) +
                    //  $("#cartCount").html(count)

                    swal({
                        title: "Good job!",
                        text: "You clicked the button!",
                        icon: "success",
                    }).then(() => {
                        location.reload()
                    })
                }

            }

        })
    }
</script>