<style>
    .gradient-custom {
        /* fallback for old browsers */
        background: #cd9cf2;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to top left, rgba(205, 156, 242, 1), rgba(246, 243, 255, 1));

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to top left, rgba(205, 156, 242, 1), rgba(246, 243, 255, 1))
    }
</style>







<div class="page-header text-center" style="background-image: url('/userAssets/images/page-header-bg.jpg')">
    <div class="container"><br>
        <h1 class="page-title"> Ordered Products<span></span></h1>
    </div><!-- End .container -->
</div>
{{#each products}}
<div class="container">
    <div class="row">

        <div class="card col-md-12 mb-5 mt-4">
            <div class="card-body rounded">

                <div class="row">
                    <div class="col-md-6">
                        <div class="mt-1">
                            <img class="rounded" src="/productMulterImage/{{this.product.img.[0]}}" alt=""
                                style="height: 180px;">
                        </div>
                        <small>{{this.product._id}}</small>
                    </div>
                    <div class="col-md-3">
                        <h5 class="mt-3">{{this.product.Name}}</h5>
                        <h6>{{this.product.addCategory}}</h6>
                        <b>{{this.product.Description}}</b><br>
                    </div>
                    <div class="col-md-3">
                        <h6 class="mt-5">Quantity:&nbsp;{{this.quantity}}</h6>
                        <input type="text" name="" id="quantityIn" value="{{this.quantity}}" hidden>
                        {{#if this.product.offerPercentage}}
                        <span>
                            <s>₹ {{this.product.OfferPrice}}</s>
                            <h5 class="">₹ <span class="text-danger">{{this.product.OfferPrice}}</span></h5>
                        </span>
                        {{!-- {{#if this.quantity}}
                        <span>
                            <s>₹ {{multyply this.product.OfferPrice this.quantity}} || {{multyply this.product.Price
                                this.quantity}}</s>
                            <h5 class="">₹ <span class="text-danger">{{multyply this.product.OfferPrice this.quantity}}
                                    || {{multyply this.product.Price this.quantity}}</span></h5>
                        </span> --}}

                        {{else}}
                        <h5 class="mt-1">₹ <span class="text-danger">{{this.product.Price}}</span></h5>
                        {{/if}}
                        <B>TRACK ORDER</B>
                        <h6 class="text-danger">{{this.trackorder}}</h6>
                    </div>


                    {{!-- <a class="btn btn-outline-primary-2" id="cancle"
                        onclick="orderCancel('{{this._id}}','cancel')">order
                        cancel ?</a> --}}


                    {{!-- <div class="btn align-items-center">
                        {{#if (isDelivered this.trackorder)}}
                        <p class="text-Success">Delivered</p>
                        {{else}}
                        {{/if}} --}}


                        {{#if (isDelivered this.trackorder)}}
                        <a onclick="orderReturn('{{this.product._id}}','{{this._id}}')"
                            class="btn text-white btn-success btn-rounded"><span>Return</span></a>
                        {{else}}

                        {{/if}}


                        {{#if (isCanceled this.trackorder) }}
                        

                        {{else}}
                        <a onclick="updateStatus('{{this.product._id}}','{{this._id}}')"
                            class="btn text-white btn-danger btn-rounded"><span>Cancel</span></a>
                        {{/if}}
                    </div>



                </div>



                <div>
                    <div class="row d-flex align-items-center">

                        <div class="col-md-12">
                            <div class="progress" style="height: 6px; border-radius: 16px;">

                                {{#if (isCanceled this.trackorder) }}
                                <div class="progress-bar" role="progressbar"
                                    style="width: 100%; border-radius: 16px; background-color: #c40000;"
                                    aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                                </div>
                                {{/if}}

                                {{#if (isOrderConfirmed this.trackorder)}}
                                <div class="progress-bar" role="progressbar"
                                    style="width: 25%; border-radius: 16px; background-color: #ffbf00;"
                                    aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                                </div>
                                {{/if}}

                                {{#if (isShipped this.trackorder) }}
                                <div class="progress-bar" role="progressbar"
                                    style="width: 50%; border-radius: 16px; background-color: #ff9100;"
                                    aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                                </div>
                                {{/if}}

                                {{#if (isOutForDelivary this.trackorder) }}
                                <div class="progress-bar" role="progressbar"
                                    style="width: 75%; border-radius: 16px; background-color: #abea00;"
                                    aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                                </div>
                                {{/if}}

                                {{#if (isDelivered this.trackorder) }}
                                <div class="progress-bar" role="progressbar"
                                    style="width: 100%; border-radius: 16px; background-color: #2b8900;"
                                    aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                                </div>
                                {{/if}}
                            </div>

                            {{#if (isCanceled this.trackorder) }}
                            <h5 class="text- mb-0 small pt-2 fs-3 text-danger">Order Canceled</h5>
                            {{else}}
                            <div class="d-flex justify-content-around mb-1">
                                <p class="text-muted mb-0 small">Order Confirmed</p>
                                <p class="text-muted mt-1 mb-0 small ms-xl-5">Shipped</p>
                                <p class="text-muted mt-1 mb-0 small ms-xl-5">Out For Delivary</p>
                                <p class="text-muted mt-1 mb-0 small ms-xl-5">Delivered</p>
                            </div>
                            {{/if}}
                        </div>
                        <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{{/each}}











<script>
    function updateStatus(proId,orderId) {

        $.ajax({
            url: '/updateStatus',
            method: 'post',
            data: {
                proId: proId,
                orderId: orderId,
                
            },
            success: (response) => {
                alert(response)
                if (response.status) {
                    Swal.fire(
                        'Order Canceled',
                        'Your action successful',
                        'success'
                    ).then(() => {
                        location.reload()
                    })
                }
            }
        })
    }
</script>

<script>
    function orderReturn( proId,orderId) {
        $.ajax({
            url: '/orderReturn',
            method: 'post',
            data: {
               proId: proId,
                orderId: orderId,
            },
            success: (response) => {
                if (response.status) {
                    Swal.fire(
                        'Order Return',
                        'Your actio successful',
                        'success'
                    ).then(() => {
                        location.reload()
                    })

                }
            }
        })
    }
</script>