<div class="tab-pane fade" id="tab-downloads" role="tabpanel" aria-labelledby="tab-downloads-link">
    <div>
        <h3 class="text-primary">Kairos Wallet</h3>
    </div>
    <div class="card">
        <div class="card-body" style="border: 2px solid rgb(237, 214, 171);border-radius: 4px; width:auto ;">
            <div class="row">
                <div class="col-md-3">
                    <img src="https://cdn.dribbble.com/users/61734/screenshots/5384735/media/cf4f6e9320fbf91053e149fc7cae6b72.png?compress=1&resize=1000x750&vertical=top"
                        alt="" style="height:112px;">
                </div>
                <div class="col-md-3">
                    <h5 class="mt-5">Wallet Balance : </h5>
                </div>
                <div class="col-md-3">
                    <h4 class="mt-5 ">₹ <span class="text-success mt-5">{{walletDetails.Total}}</span></h4>
                </div>
                <div class="col-md-3 mt-5">
                    <BUTTON ONCLICK="ShowAndHide()" id="showButton" class="btn btn-success rounded">
                        Transactions</BUTTON>
                </div>
            </div>

        </div>
    </div>
    <div id="SectionName" STYLE="display:none">Transactions
        {{#each walletDetails.Transaction}}
        <div class="card mt-3" style="border: 2px solid lightblue;border-radius: 4px; width:auto ;">
            <div class="card-body col-md-10">
                <div class="row">
                    <div class="col-md-3">
                        {{this.Date}}
                    </div>
                    <div class="col-md-3">
                        {{#if (walletStatus this.Amount)}}
                        Rs &nbsp; <span class="text-danger">{{this.Amount}}</span>
                        {{else}}
                        Rs &nbsp; <span class="text-success">{{this.Amount}}</span>
                        {{/if}}
                    </div>
                    <div class="col-md-3">
                        {{#if (walletStatus this.Amount)}}
                        <p class="text-danger">Debited</p>
                        {{else}}
                        <p class="text-success"> Credited</p>
                        {{/if}}

                    </div>
                    <div class="col-md-3">
                        <p>{{this.message}}</p>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div><!-- .End .tab-pane -->